

.form__fieldset {
  background-color: white;
  margin: 5px;
  padding: 5px 50px;
  border-color: #eee;
  border-radius: 5px;
  box-shadow: 3px 3px 15px 0px rgba(102, 102, 102, 0.37);
}

.form__legend {
  background-color: teal;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  border-color: #eee;
  box-shadow: 3px 3px 15px 0px rgba(102, 102, 102, 0.37);
}

.form__field {
  margin-bottom: 10px;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-color: #ccc;
}

.form__label {
  font-style: italic;
}

.form__field:hover {
  background-color: hsl(0, 0%, 95%);
}

.form__fieldInformation {
  background-color: #eee;
  margin-top: 30px;
  width: 75px;
  border-radius: 5px;
  border-color: #ccc;
}


.form__textInformation {
  font-size: 12px;
}

.form__valuePosition {
  justify-content: flex-end;
}