html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("../public/images/backgrund.jpg");
    background-size: cover;
    background-position: center;
}

.flexContainer {
    flex-basis: 600px;
}